body{
        
        margin-left: 60px;
        margin-right: 60px;
        line-height: 1.5em;
        background-color: black;
        text-align: justify;
        text-decoration:none; 
 
          
        
}

div{font-family:Georgia}

#um{
        text-decoration: none;
        color: #000;
        }
#dois{
        text-decoration: none;
        color: #000;
        }
#tres{
        text-decoration: none;
        color: #000;
        }
#quatro{
        text-decoration: none;
        color: #000;
        }
        

header#primeiraparte{
        
        
        padding-bottom: 50px;
        height: 100%;
        margin-left: -60px;
        margin-right: -60px;
        background-color: black;
        padding-top: 150px;
        border-bottom: double 6px;
        border-color:#f5f90c;
}



#imagem1{
        position: relative;
        right: auto;
        left: 280px;
        bottom: 65px;
        
        
}
#imagem2{
        float: right;
        width: 570px;
        height: 340px;
        border: solid 10px #f5f90c;
        margin-top: 155px;
        position: relative;
        right: px;
        
}


#cabecalho{
         
        background: linear-gradient(45deg, #010101 0%,#1b1b1b 0%,#010101 0%,#383838 0%,#0d0d0d 12%,#0d0d0d 12%,#fff314 23%,#959595 38%,#0a0a0a 46%,#fff314 59%,#0a0a0a 72%,#0a0a0a 72%,#4e4e4e 77%,#4e4e4e 77%,#fff314 89%,#020000 95%);  
        color: #f5f90c;
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100px;
        opacity: 0.9;
        height: 160px;
       z-index: 9999;
      
          
      
                
}
#mocarria{  font-size: 38px;
        position: relative;
        top: 1em;
        margin-left: 60px;
        
        width: 160px;
        color: white;
        }
#cabecalho2{
   
                margin-top: 32px;
                color: #ffef40;
                padding: 10px;
                float: right;
                position: relative;
                top: -3em;
                font-size: 23px;
                
}
#cabecalho ul {
                padding-right: 60px;
                list-style-type: none;
                padding-left: 0;  
              }
#cabecalho li {
                display:inline-block;
                color: #000000;
                margin-right: 1em;
                background-color: #f5f90c;
                padding: 0.5em 1em;
              }
  #cabecalho li:hover{background-color:white;
        }            
              
              
#historia{
            width: 630px;
            font-size: 18px;
        
}


#inicio{
            padding-left: 20px;
            background-color:#f5f90c; 
            width:650px;
            margin-top: 170px;
            padding-bottom: 1px;
            text-align: justify;
            margin-left: 60px;
        margin-right: 0px;
        padding-top: 10px;
        margin-top: 5px;
        
       
                
}



header#segundaparte{
         padding-bottom: 50px;
             
         margin-left: -60px;
        margin-right: -60px;
        border-bottom: double 6px;
            border-color:#f5f90c;
        
}
#noticias2{
        
        margin-top: 0px;
    margin-bottom: 50px;
        color:#f5f90c;
}

#noticias{
        margin-top: 70px;
        margin-left: 60px;
        margin-right: 60px;
}



#seis{
       width: 1200px ;
       margin-top: 35px;
    margin-bottom: 35px;
    color:#f5f90c;
    background-color:#000;
        padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border:solid 1px;
    border-color:#f5f90c;
       
    
}

#treze{
           
           width: 1200px;
           margin-top: 35px;
    margin-bottom: 35px;
    color:#f5f90c;
    background-color:#000;
        padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border:solid 1px;
    border-color:#f5f90c;

}
                
#vinte{
            width: 1200px;
            margin-top: 35px;
    margin-bottom: 35px;
    color:#f5f90c;
    background-color:#000;
        padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
      border:solid 1px;
    border-color:#f5f90c;
   
}
        
        
        
        
#seis2{
       width: 1000px ;
        font-size: 16px;
       
       
}


#treze2{
           
           width: 1180px;
            font-size: 16px;
           
}
        

        
#vinte2{
            width: 1000px;
         font-size: 16px;
         
        
}


header#terceiraparte{
        color:#000;
         padding-top: 1px;
        padding-bottom: 50px;
        margin-left: -60px;
        margin-right: -60px;
        background: white;
        height: 2300px;
     
}

           
#escaloes{
        margin-top: 70px;
        width: 200px;
        margin-left: 60px;
        margin-right: 60px;
        height: 250px;
        
        }
        
#escaloes2{
        margin-top: 0px;
    margin-bottom: 50px;
        
}

        
div#traquinas{
          font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        border: solid 3px;
         border-color:black;
        text-align: center;
        position: relative;
        left: 50px;
        width: 600px;
        height: 467px;
        
        
}     
div#sub10{
        font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        border: solid 3px;
         border-color:black;
        text-align: center;
        position: relative;
        left: 800px;
        top:-524px;
        width: 600px;
        height: 467px;
}
div#infantis{
        font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        border: solid 3px;
        border-color:black;
        text-align: center;
        position: relative;
        left: 50px;
        width: 600px;
        height: 467px;
        top: -500px;
}
div#iniciados{
        font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        border: solid 3px;
        border-color:black;
        text-align: center;
        position: relative;
        left: 800px;
        top:-1023px;
        width: 600px;
        height: 467px;   
}
div#juvenis{
        font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        border: solid 3px;
        border-color:black;
        text-align: center;
        position: relative;
        left: 50px;
        width: 600px;
        height: 467px;
        top: -1000px;
}
div#juniores{
        font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        border: solid 3px;
        border-color:black;
        text-align: center;
        position: relative;
        left: 800px;
        top:-1523px;
        width: 600px;
        height: 467px;
}
div#seniores{
        font-size: 20px;
        font-style: italic;
        margin-top: 50px;
        border: solid 3px;
        border-color:black;
        text-align: center;
        position: relative;
        left: 50px;
        width: 600px;
        height: 467px;
        top: -1500px;
}
#imagem3{
        
        border-top: solid 3px;
}
#imagem4{
        
        border-top: solid 3px;
}

#imagem5{
        
        border-top: solid 3px;
}

#imagem6{
        
        border-top: solid 3px;
}

#imagem7{
        
        border-top: solid 3px;
}

#imagem8{
        
        border-top: solid 3px;
}

#imagem9{
        
        border-top: solid 3px;
}


#contactos{
      
        background: #f5f90c;
        color: black;
        margin-bottom: 50px;
        margin-top: 70px;
        padding: 30px;
        border: solid 10px;
        border-color:white;
        border-radius: 60%;
        text-align: center;
        height: 240px;
        width: 600px;
        margin-left: 370px;
        
}  
@media (max-width:750px )
{
        #cabecalho2{
                position: fixed;
        }
        #imagem2{
                max-width: 350px;
                position: relative;
                left: 60px;
                margin-top: 209px;
                margin-right: 18px;
        }
       #inicio{
                max-width: 250px;
                max-height: 1500px;
                margin-left: 70px;
               
        }
        
        #historia{
                max-width: 220px;
                
        }
        #cabecalho2{
                font-size: 70%;
                position: relative;
                left: 10px;
                top: -220px;
                z-index: 999999;
        }
        #imagem1{
                position: relative;
                top: -420px;
                max-width: 95px;
                max-height: 140px;
        }
        #mocarria{
                position: relative;
                top: -200px;
                left: -20px;
        }
        #cabecalho{
                height: 220px;
                opacity:1;
                position: relative;
                    top: -300px;
                 height: 320px;
                                
        }
        
        #escaloes{
                border: none;
        }
        #imagem3{
                max-width: 300px;
                position: relative;
                left: -60px;
                height: 300px;
                border: none;   
        }
        div#traquinas{
                border: none;
        }
        #traquinas{
                max-width: 100px;
                max-height: 30px;
                border: none;
             
        }
        #traquinas p{
                position: relative;
                top: 20px;
                left: -60px;
                border: none;
        }
        
        
        #imagem4{
                
                max-width: 300px;
                position: relative;
                left: -20px;
                height: 300px;
                border-top: none;
                position: relative;
                top: 840px;
                left: -810px;
        }
        div#sub10{
                border: none;
        }
        #sub10{
                 max-width: 100px;
                max-height: 30px;
                text-align: center;
        }
        #sub10 p{
                position: relative;
                top: 855px;
                left: -826px;
        }
       
        #imagem5{
                max-width: 300px;
                position: relative;
                left: -220px;
                height: 300px;
                position: relative;
                top: 1120px;
                left: -60px;
                border-top: none;
                
        }
        div#infantis{
                border: none;
        }
        #infantis{
                 max-width: 100px;
                max-height: 30px;
                text-align: center;
        }
        #infantis p{
                position: relative;
                top: 1140px;
                left: -70px;
        }
        #imagem6{
                max-width: 300px;
                position: relative;
                left: -810px;
                top:1950px;
                border-top: none;
                height: 300px;
        }
        div#iniciados{
                border: none;
        }
        #iniciados{
                 max-width: 100px;
                max-height: 30px;
                text-align: center;
        }
        #iniciados p{
                position: relative;
                 top: 1971px;
                left: -815px;
                
        }
        #imagem7{
                max-width: 300px;
                position: relative;
                left: -60px;
                top:2240px;
                height: 300px;
                border-top: none;
        }
        div#juvenis{
                border: none;
        }
        #juvenis{
                 max-width: 100px;
                max-height: 30px;
                text-align: center;
        }
        #juvenis p {
                position: relative;
                top: 2260px;
                left: -70px;
                
        }
        #imagem8{
                max-width: 300px;
                position: relative;
                left: -810px;
                top:3050px;
                height: 300px;
                border-top: none;
        }
        div#juniores{
                border: none;
        }
        #juniores{
                 max-width: 100px;
                max-height: 30px;
                text-align: center;
        }
        #juniores p{
                position: relative;
                top: 3071px;
                left: -815px;
        }
        #imagem9{
                max-width: 300px;
                position: relative;
                left: -60px;
                top:3350px;
                height: 300px;
                margin-bottom: 20px;
                border-top: none;
                
        }
        div#seniores{
                border: none;
        }
        #seniores{
                 max-width: 100px;
                max-height: 30px;
                text-align: center;
        }
        #seniores p{
                position:relative;
                top: 3371px;
                left: -66px;
                
        }
        #contactos{
                max-width: 260px;
                max-height: 1000px;
                position: relative;
                left: -390px;
                bottom: 50px;
                font-size: 70%;
                margin-top: 100px;
        }
        #noticias{
                position: relative;
                left: -20px;
                
        }
        #seis{
                max-width: 320px;
                max-height: 1500px; 
        }
        #seis2{
                max-width: 280px;
                max-height: 1500px; 
        }
        #treze{
                max-width: 320px;
        }
        #treze2{
                max-width: 280px;
                max-height: 1500px; 
        }
        #vinte{
                max-width: 320px;
                
        }
        #vinte2{
                max-width: 280px;
                max-height: 1500px;
                
        }
        
        
        header#terceiraparte{
                
              height: 2900px;
                
        }
        
}












